<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 名称空间
-->
<mapper namespace="com.itheima.mapper.BrandMapper">

    <!--statement语句-->
    <!--
    数据库表的 字段名称 和 实体类的属性 名称不一致, 则不能封装数据.
    * 起别名:  对不一样的列名起别名, 让别名和实体类的属性名对应上.
        * 缺点: 每次查询都要起别名, 不方便.
            * sql片段.
    -->

    <!--sql片段-->
    <sql id="brand_column">id, brand_name as brandName, company_name as companyName, ordered, description, status</sql>


    <select id="selectAll" resultType="brand">
        select
            <include refid="brand_column" />
        from tb_brand;
    </select>
<!--    <select id="selectAll" resultType="brand">
        select * from tb_brand;
    </select>-->
</mapper>